@charset "UTF-8";

/*Paisagem 
 no Computador essa função vira a primaria
*/

/*body{ saber se estar na horizontal
    background-color: rgb(70, 20, 140);
}*/

body{
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;
}