@charset "UTF-8";

/*RETRATO*/

/*body{ //saber se está na vertical
    background-color: #030456f;
}*/
body{
    background-image: url(../imagens/cev-portrait.jpg);
    background-position: center bottom;
}