@charset "UTF-8";

/*CONFIGURAÇÕES GERAL mobile First*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:lightgray;
    background-image: url(../imagens/back-phone.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}
header{
    background-color: rgb(148, 148, 148);
}
header > h1{
    text-align: center;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 20px;
    text-shadow: 3px 3px 16px rgba(0, 0, 0, 0.487);
    
}

header ul{
    list-style-type: none;
    display:block;
    
}

ul li{
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.463);
    
    background-color: rgb(60, 60, 60);
    padding: 10px;
    text-align: center;
    border-top: 2px solid rgb(113, 113, 113);
}
li a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.482);
}
ul > li:hover{
    transition: all 2s ;
    background-color: gray;
    
}
main{
    width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.700);
    margin-top: 10px;
    border-radius: 13px;
    padding: 20px;
}
article > h2{
    padding-bottom: 15px;
}


article p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px; /*espaço entre cada paragrafó*/
}