@charset "UTF-8";
/*Configurações para diferentes telas
===============================*/
/**/
@media  screen and (min-width: 768px) { /*tablet*/
   i#burguer{
    display: none;
   }
   menu{
    display: block;
   }
   menu > ul > li{
    display: inline-block;

   }
   main{
        width: 768px; /*esse configuranção vale até a tela diminuir*/
   }
}
