@charset "UTF-8";
/*Configurações para diferentes telas
===============================*/
/**/
@media  screen (min-width: 768)and (max-width: 992px) { /*tablet*/
    article{
        width: 65%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) { /*desktop*/
    article{
        width: 65%;
    }
}
@media screen and (min-width:1200px) { /*TV*/
    article{
        width: 50%;
    }
}