<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Layout Elements and Techniques</title>
</head>
<body>
    <header>
        Defines a header for a document or a section
    </header>
    <nav>
        Defines a set of navigation links
    </nav>
    <section>
        definees a section in a document
    </section>
    <article>
        Defines an independent, self-contained content
    </article>
    <aside>
        Defines content aisde from the content(like a sidebar)
    </aside>
    <footer>
        Defines a footer for a document or a section
    </footer>
    <summary>Defubes a heading for the &lt;details%&gt;</summary>
</body>
</html>